.valign{
    vertical-align: middle;
}
.linkPointer{
    cursor: pointer;
}
.info-section{
    padding: 15px;
}

.tasks-section mat-grid-list{
    border-top: 1px solid #d1d1d1;
}

.tasks-section mat-grid-tile{
    margin:10px 0px 0px 0px;
}

.tasks-section{
    margin:0px 0px 0px 10px;
}

.task-card{
    max-width: 400px;
    background-color: #f1f1f1;
    margin: 10px 10px 10px 10px;
}

mat-card-header,mat-card-content{
    background-color: #fff;
    padding: 5px;
}
mat-progress-bar{
    margin: 0px 0px 0px 5px;
}
