<mat-grid-list cols="6" rowHeight="60" class="header-layout">
  <mat-grid-tile><h2>My Tasks</h2></mat-grid-tile>
  <mat-grid-tile>&nbsp;</mat-grid-tile>
  <mat-grid-tile>&nbsp;</mat-grid-tile>
  <mat-grid-tile>
      <mat-slide-toggle [checked]="suspendOn" (change)="suspendTool($event)">Suspend</mat-slide-toggle>
  </mat-grid-tile>
  <mat-grid-tile>
      <div (click)="getTasks()"><i class="material-icons valign linkPointer" >refresh</i></div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div (click)="showQuerySettings()"><i class="material-icons valign linkPointer">settings</i></div>
  </mat-grid-tile>

</mat-grid-list>

<mat-divider></mat-divider>
<p class="info-section" *ngIf="showMessage"><i class="material-icons valign">info</i>&nbsp;{{message}}</p>
<br />
<mat-spinner *ngIf="showLoader" aria-valuenow="70" diameter="25"></mat-spinner>

<div class="tasks-section">
  <div *ngFor="let issue of issues">
      <mat-card class="task-card">
          <mat-card-content>
            <mat-card-header >
              <mat-card-title>
                <img src="{{issue.fields.issuetype.iconUrl}}" width="18" height="18" />
                <h2>{{issue.key}}</h2>
              </mat-card-title>
              <mat-card-subtitle> {{issue.fields.summary}}</mat-card-subtitle>
              <div style="width:70%;text-align: end;">
                <mat-slide-toggle id="{{issue.key}}" checked="{{issue.active}}" (change)="activateTask($event)">Active</mat-slide-toggle>
              </div>
            </mat-card-header>

            <div>
              <mat-grid-list cols="2" rowHeight="60">
                <mat-grid-tile>
                  <p>Estimated Time</p>
                  <mat-progress-bar mode="determinate" value="{{(issue.fields.aggregatetimeoriginalestimate)/(60*60)}}"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                  {{(issue.fields.aggregatetimeoriginalestimate)/(60*60) | round}} hours
                </mat-grid-tile>
                <mat-grid-tile>
                  <p>Time Spent</p>
                  <mat-progress-bar mode="determinate" value="{{(issue.fields.aggregatetimespent)/(60*60)}}"></mat-progress-bar>                  
                </mat-grid-tile>
                <mat-grid-tile>
                    {{(issue.fields.aggregatetimespent)/(60*60) | round}} hours
                </mat-grid-tile>
              </mat-grid-list>
            </div>
            <br />
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="closeTask(issue.key)">Mark as Done</button>
          </mat-card-actions>
      </mat-card>
  </div>
</div>